*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.site-content {
  padding: 0 $site-margins;
}

// When global-header precedes site-wrapper, put a $header-height margin-top
// because the global-header is position: fixed (out of layout flow)
.global-header + .site-wrapper {
  margin-top: $header-height;
}

.lt-ie9 {
  // Hack for clearfixes
  * {
    filter: none !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}
