html {
	font-family: $font-sans;
	font-size: $em-base;
	color: $color-base-font;
}

body {
	font-size: $base-font-size;
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: {
		top: 0;
		bottom: 0;
	}
}

* + p { margin-top: 1em; }

a {
	color: $color-primary;
	font-weight: 700;
	&:hover, &:active, &:visited {
		color: darken($color-primary, 30%);
	}
}

a.unstyled {
	&:after {
		display: none;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	clear: both;
	margin: {
		bottom: 0;
		top: 0;
	}
	line-height: $heading-line-height;
	letter-spacing: -0.05em;
}

* + h1,
* + .h1,
* + h2,
* + .h2,
* + h3,
* + .h3,
* + h4,
* + .h4,
* + h5,
* + .h5,
* + h6,
* + .h6 {
	margin-top: .5em;
}

// Create heading mixins

@mixin title {
	font-size: $title-font-size;
	font-weight: 700;
	* + & { margin-top: 1.5rem; }
}

@mixin h1 {
	font-size: $h1-font-size;
	font-weight: 700;
}

@mixin h2 {
	font-size: $h2-font-size;
	font-weight: 700;
}

@mixin h3 {
	font-size: $h3-font-size;
	font-weight: 700;
}

@mixin h4 {
	font-size: $h4-font-size;
	font-weight: 700;
}

@mixin h5 {
	font-size: $h5-font-size;
	font-weight: 700;
}

@mixin h6 {
	font-size: $h6-font-size;
	font-weight: 700;
}

h1, .h1 { @include h1(); }
h2, .h2 { @include h2(); }
h3, .h3 { @include h3(); }
h4, .h4 { @include h4(); }
h5, .h5 { @include h5(); }
h6, .h6 { @include h6(); }
.title  { @include title(); }

// Alignment accents
.text-align-center,
.text-align-center * {
	text-align: center;
}

// Color accents
.text-color-primary { color: $color-primary; }
.text-color-secondary { color: $color-secondary; }
.text-color-accent { color: $color-accent; }
