.logo {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  @include media($mobile-up) {
    font-size: 1.5em;
    letter-spacing: 0.2em;
  }
}

.global-header .logo {
  @include vertical-center();
  margin-bottom: 0;
  @include media($mobile-up) {
    float: left;
  }
}
